In [16]:
import pandas as pd
import sqlite3

In [2]:
df = pd.read_csv('user_demographics_v1.csv')

In [3]:
conn = sqlite3.connect("Any_Database_Name.db")

In [4]:
df.to_sql('user_demographics', conn)

In [5]:
sql_string = 'SELECT * FROM user_demographics'
df = pd.read_sql(sql_string, conn)

In [9]:
df.head()

   index         uid              reg_date device gender country  age
0      0  54030035.0  2017-06-29T00:00:00Z    and      M     USA   19
1      1  72574201.0  2018-03-05T00:00:00Z    iOS      F     TUR   22
2      2  64187558.0  2016-02-07T00:00:00Z    iOS      M     USA   16
3      3  92513925.0  2017-05-25T00:00:00Z    and      M     BRA   41
4      4  99231338.0  2017-03-26T00:00:00Z    iOS      M     FRA   59

In [ ]:
pd.read_sql('''WITH mau AS (SELECT DISTINCT TRUNCATE(DATE('month'), reg_date) AS month, uid FROM user_demographics)
               SELECT mau.month, COUNT(DISTINCT user_id) AS retained_users
               FROM mau curr_month
               JOIN mau last_month
               ON curr_month.month = add_months(last_month.month, 1) AND curr_month.uid = last_month.uid
               GROUP BY 1 
               ORDER BY 1 ASC''', conn)

In [20]:
mau = pd.read_sql('''SELECT DISTINCT strftime('%m', reg_date) AS month, uid FROM user_demographics''', conn)

In [22]:
pd.read_sql('''SELECT mau.month, COUNT(DISTINCT user_id) AS retained_users
               FROM mau curr_month
               JOIN mau last_month
               ON curr_month.month = add_months(last_month.month, 1) AND curr_month.uid = last_month.uid
               GROUP BY 1 
               ORDER BY 1 ASC''', conn)

DatabaseError: Execution failed on sql 'SELECT mau.month, COUNT(DISTINCT user_id) AS retained_users
               FROM mau curr_month
               JOIN mau last_month
               ON curr_month.month = add_months(last_month.month, 1) AND curr_month.uid = last_month.uid
               GROUP BY 1
               ORDER BY 1 ASC': no such table: mau